@import '../../../theme/fonts.scss',
'../../../theme/colors.scss';

.container-loader{
  display: block;
  width: 100%;
}

.loader {
    border: 16px solid $terciary;
    border-top: 16px solid $secundary;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    display: block;
    margin: auto;
}

.loadingText{
  display: block;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  font-family: $body-font;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}