$primary: white;
$primary-dark: #2d3436;
$secundary-light: #82ccdd;
$secundary: #3498db;
$secundary-dark: #2980b9;
$terciary: #ecf0f1;
$terciary-dark: #2f3542;
$danger: #e74c3c;
$danger-dark:#c0392b;
$body-text: #808080;
$header-text: #2d3436;