@import '../../../theme/fonts.scss',
'../../../theme/colors.scss',
'../../../theme/transitions.scss';

.btn{
    border: none;
    color: $primary;
    padding: 8px;
    border-radius: 3px;
    font-family: $body-font;
    background-color: $secundary;
    cursor: pointer;
}

.btn-light{
    background-color: $primary !important;
    border: 1px solid $secundary;
}

.btn-danger{
    background-color: $danger !important;
    border: 1px solid $danger-dark;
}

.btn-empty{
    background-color: $primary !important;
    &:hover{
        background-color: $terciary !important;
    }
}
  
.input-text{
    height: 35px;
    padding: 0 20px;
    font-size: 15px;
    border: none;
    &:focus{
        border: 1px solid $secundary;
        transition: $general;
        &::-webkit-input-placeholder{
            transition: $opacity; 
            opacity: 0;
        }
        &::-moz-placeholder {
            transition: $opacity; 
            opacity: 0;
        }
        &:-ms-placeholder {
            transition: $opacity; 
            opacity: 0;
        }    
    }
}

.text-area{
    height: 300px;
    padding: 0 20px;
    font-size: 15px;
    border: 1px solid $secundary;
}