@import './colors.scss';
$searchIcon: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><g data-name='Layer 2'><g data-name='search'><rect width='24' height='24' opacity='0'/><path d='M20.71 19.29l-3.4-3.39A7.92 7.92 0 0 0 19 11a8 8 0 1 0-8 8 7.92 7.92 0 0 0 4.9-1.69l3.39 3.4a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 11a6 6 0 1 1 6 6 6 6 0 0 1-6-6z'/></g></g></svg>";


.i-color-primary{
    background-color: $primary;
}

.i-color-secundary{
    background-color: $secundary;
}

.i-color-terciary{
    background-color: $terciary;
}

.i-color-primary-dark{
    background-color: $primary-dark;
}

.i-color-secundary-dark{
    background-color: $secundary-dark;
}

.i-color-terciary-dark{
    background-color: $terciary-dark;
}


.icon-search{
    -webkit-mask:  url($searchIcon) no-repeat;
    mask: url($searchIcon) no-repeat;
    background-repeat: no-repeat;
}

$filterIcon: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><g data-name='Layer 2'><g data-name='options-2'><rect width='24' height='24' transform='rotate(90 12 12)' opacity='0'/><path d='M19 9a3 3 0 0 0-2.82 2H3a1 1 0 0 0 0 2h13.18A3 3 0 1 0 19 9zm0 4a1 1 0 1 1 1-1 1 1 0 0 1-1 1z'/><path d='M3 7h1.18a3 3 0 0 0 5.64 0H21a1 1 0 0 0 0-2H9.82a3 3 0 0 0-5.64 0H3a1 1 0 0 0 0 2zm4-2a1 1 0 1 1-1 1 1 1 0 0 1 1-1z'/><path d='M21 17h-7.18a3 3 0 0 0-5.64 0H3a1 1 0 0 0 0 2h5.18a3 3 0 0 0 5.64 0H21a1 1 0 0 0 0-2zm-10 2a1 1 0 1 1 1-1 1 1 0 0 1-1 1z'/></g></g></svg>";
.icon-filter{
    -webkit-mask:  url($filterIcon) no-repeat;
    mask: url($filterIcon) no-repeat;
    background-repeat: no-repeat;
}