@import '../../../theme/fonts.scss',
'../../../theme/colors.scss',
'../../../theme/shadows.scss',
'../../../theme/icons.scss',
'../../../theme/forms.scss';

.nav-container{
    position: fixed;
    z-index: 99999;
    max-height: 50px;
    top: 0;
    width: 100%;
    -webkit-box-shadow: $card-shadow;
    -moz-box-shadow: $card-shadow;
    box-shadow: $card-shadow;

    .nav-left{
        float: left;
        font-family: $title-font;
        color: $header-text;
        margin: 5px;
    }

    .nav-right{
        float: right;

        i{
            display: inline-block;
            width: 30px !important;
            height: 30px !important;
        }
        
        .btn{
            &:hover ~.filter-options{
                display: block;
            }
        }
    }

    .search-container{
        width: 200px;
        display: inline-block;
        margin-right: 50px;
        .search-bar{
            position: fixed;
            top: 5px;
        }
    }

    .filter-options{
        display: none;
        position: fixed;
        top: 60;
        right: 5px;
        background-color: $primary;
        font-family: $body-font;
        padding: 5px;
        width: 130px;
        -webkit-box-shadow: $card-shadow;
        -moz-box-shadow: $card-shadow;
        box-shadow: $card-shadow;
        ul{
            margin-top: 5px;
            border-top: 1px solid $terciary;
            list-style: none;
            color: $primary-dark;
            li{
                padding: 5px;
                &:hover{
                    cursor: pointer;
                    background-color: $terciary;
                }
            }
        }
        &:hover{
            display: block;
        }
    }
}

