<div class="nav-container">
    <div class="nav-left">
        <h1>DailyTrends</h1>
    </div>
    <div class="nav-right">
        <form class="search-container">
            <input name="titleSearch" type="text" class="search-bar input-text" placeholder="Buscar noticias..." [(ngModel)]="titleSearch"
            (ngModelChange)="titleSearch = $event" (keydown.enter)="filterByTitle($event.target.value)">
        </form>
        <button type="button" class="btn btn-empty"><i class="icon-filter i-color-terciary-dark"></i></button>
        <div class="filter-options">
            <span>Filtrar por:</span>
            <ul>
                <li (click)="filterByPublisher('El País')">El País</li>
                <li (click)="filterByPublisher('El Mundo')">El Mundo</li>
                <li (click)="filterByPublisher('DailyTrends')">Propias</li>
            </ul>
        </div>
    </div>
</div>