<div class="center">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 720 720" style="enable-background:new 0 0 720 720;" xml:space="preserve">
        <style xmlns="http://www.w3.org/2000/svg" type="text/css">
            .st0{enable-background:new    ;}
            .st1{fill:#FFBE55;}
            .st2{fill:#FFE3CA;}
            .st3{fill:#EFCBAC;}
            .st4{fill:#CCE9FF;}
            .st5{fill:#2A94F4;}
            .st6{fill:#FCD2B1;}
            .st7{fill:#0B4870;}
            .st8{fill:#0E538C;}
            .st9{fill:#E1A545;}
            .st10{fill:#F7F7F7;}
            .st11{fill:none;}
            .st12{font-family:'LeagueSpartan-Bold';}
            .st13{font-size:12px;}
            .st14{letter-spacing:2;}
        </style>
        <g xmlns="http://www.w3.org/2000/svg" id="Shape_8_1_" class="st0">
            <g id="Shape_8">
                <g>
                    <path class="st1" d="M321,129.3c-40.2,70.8-233.3,47.6-212.9,142.1c20.5,94.5,55.2,81.9,39.6,141.1     c-15.6,59.2-34.6,79.1,47,138.7c81.6,59.6,147.8,30.1,201.4-1.4s141.1,34.4,193.5-38.9c52.3-73.3-57-75.5,16.3-217     S361.2,58.4,321,129.3z"/>
                </g>
            </g>
        </g>
        <g xmlns="http://www.w3.org/2000/svg" id="Shape_41_1_" class="st0">
            <g id="Shape_41">
                <g>
                    <path class="st2" d="M177.2,405.4c-8.1,5.4,3.4,14.4,17.5,29.3c0,0-21.4-11-22.4-2.6c-1,8.4,33.7,17.8,33.7,17.8l13.1,0.8     C219.1,450.6,185.3,399.9,177.2,405.4z"/>
                </g>
            </g>
        </g>
        <g xmlns="http://www.w3.org/2000/svg" id="Shape_51_1_" class="st0">
            <g id="Shape_51">
                <g>
                    <path class="st3" d="M182.4,412.1c-1.1,0.5,0.2,1.4,0.2,1.4l22.1,21.8l-0.5,7.9l-25.4-8.6c-0.5,0.2-0.2,0.7-0.2,0.7l26.9,9.4     l1.9-8.4L182.4,412.1z"/>
                </g>
            </g>
        </g>
        <g xmlns="http://www.w3.org/2000/svg" id="Shape_48_copy_1_" class="st0">
            <g id="Shape_48_copy">
                <g>
                    <path class="st2" d="M214.2,379.1c-4.6,3.2-11.7,22-11.7,22c-2.7-4.4-4.2-21.5-4.2-21.5c11.9-5,12-20.4,12-20.4     c-6.1,2-13.2,16.3-13.2,16.3l-0.2-10.8c7.9-6.9,5.5-17.7,5.5-17.7c-3.4,0.5-6.5,15.2-6.5,15.2c-0.4-2,0.5-15.8,0.5-15.8     c4.1-8.2-2.4-17.5-2.4-17.5c-4.3,2.3,1.2,16.6,1.2,16.6l-0.7,11.5l-5.8-12.1c-2.9,9.1,7,18.9,7,18.9l0.5,12.4l-12.5-16.9     c-3,16.9,13.2,21.1,13.2,21.1c-0.6,1,3.7,21.6,3.7,21.6c-2.5-3.5-19.8-9.7-19.8-9.7c2.3,12,20.9,12.8,20.9,12.8l1.8,4.6l2.1-0.3     c-2.4-3.8-1.4-5.2-1.4-5.2C217.4,393.4,214.2,379.1,214.2,379.1z"/>
                </g>
            </g>
        </g>
        <g xmlns="http://www.w3.org/2000/svg" id="Shape_49_1_" class="st0">
            <g id="Shape_49">
                <g>
                    <path class="st2" d="M546.3,401.1c-45.3,21.1-36.7,42.6-36.7,42.6s-24.5,11.3,8,6.4C550.1,445.2,546.3,401.1,546.3,401.1z"/>
                </g>
            </g>
        </g>
        <g xmlns="http://www.w3.org/2000/svg" id="Shape_50_1_" class="st0">
            <g id="Shape_50">
                <g>
                    <path class="st3" d="M537.5,423.6c-1.1,0.6-4.5,0.9-6.5,1.9c5.1-6.9,9.3-13,9.3-13c-1.3-0.9-1.9,1-1.9,1c-1.7,2-3.6,4.5-5.7,7.1     c-0.3-1.4-1.2-3.1-1.3-3.9c-0.1-1.1-0.6-0.4-0.6-0.4c-0.4,1.2,0.7,3.6,1.4,4.9c-2.2,2.9-4.5,5.9-6.7,8.9c-0.3-2.3-1.8-5.2-2-6.5     c-0.1-1.7-0.9-0.7-0.9-0.7c-0.7,2,1.2,6.1,2.2,8c-2.8,3.8-5.4,7.3-7.3,9.9c-0.9-2.8-3.9-8.7-4.6-9c-0.7-0.3-0.5,0.7-0.5,0.7     c0.2,3.1,3.5,7.2,4.7,8.7c-1.8,2.5-2.9,4-2.9,4c1.4-0.6,4.5-4,8-8.3c1.7,0.1,7.4,0.1,10.1-1.8c0,0,0.9-0.5,0.2-0.8     c-0.6-0.3-7.2,1-9.9,2.1c2.4-3.1,5.1-6.5,7.6-9.9c1.8-0.2,6.9-0.8,8.3-2.5C538.5,424,539,422.8,537.5,423.6z"/>
                </g>
            </g>
        </g>
        <g xmlns="http://www.w3.org/2000/svg" id="Shape_48_1_" class="st0">
            <g id="Shape_48">
                <g>
                    <path class="st2" d="M522.5,370.4c0,0,21.1-0.5,22.1-21.9l-20,17l4.1-14.9c0,0,14.9-9.1,13.8-21l-10.5,13l2.3-14.2     c0,0,10.7-15.9,6.1-19.9c0,0-10.6,9.4-7.9,20.6c0,0-2.7,17.1-3.8,19.4c0,0,0.2-18.8-3.7-20.4c0,0-6,12.5,1.8,23.2l-3.3,13.1     c0,0-4.8-19.5-11.7-23.7c0,0-4.2,18.9,9,28.4c0,0-6.6,20.4-11.2,25c0,0-3.5-24.9-8.3-30.2c0,0-7.8,16.4,5.5,33.4     c0,0,0.9,1.9-3.2,5.9l2.5,1l3.5-5c0,0,23,4.4,29.2-9.6c0,0-22.9,2.6-27,6.1C511.9,395.7,522.9,371.8,522.5,370.4z"/>
                </g>
            </g>
        </g>
        <g xmlns="http://www.w3.org/2000/svg" id="Rounded_Rectangle_1_1_" class="st0">
            <g id="Rounded_Rectangle_1">
                <g>
                    <path class="st4" d="M511,224.6H209c-2.7,0-4.8,2.1-4.8,4.8v232.1c0,2.7,2.1,4.8,4.8,4.8H511c2.7,0,4.8-2.1,4.8-4.8V229.4     C515.8,226.8,513.6,224.6,511,224.6z"/>
                </g>
            </g>
        </g>
        <g xmlns="http://www.w3.org/2000/svg" id="Rounded_Rectangle_1_copy_1_" class="st0">
            <g id="Rounded_Rectangle_1_copy">
                <g>
                    <path class="st5" d="M511,224.6H209c-2.7,0-4.8,2.1-4.8,4.8v28.1h311.5v-28.1C515.8,226.8,513.6,224.6,511,224.6z"/>
                </g>
            </g>
        </g>
        <g xmlns="http://www.w3.org/2000/svg" id="Ellipse_1_1_" class="st0">
            <g id="Ellipse_1">
                <g>
                    <path class="st5" d="M366,299.3c-25.4,0-46.1,20.6-46.1,46.1s20.6,46.1,46.1,46.1s46.1-20.6,46.1-46.1S391.4,299.3,366,299.3z      M366,373.4c-15.5,0-28.1-12.6-28.1-28.1c0-15.5,12.6-28.1,28.1-28.1c15.5,0,28.1,12.6,28.1,28.1     C394.1,360.9,381.5,373.4,366,373.4z"/>
                </g>
            </g>
        </g>
        <g xmlns="http://www.w3.org/2000/svg" id="Shape_16_2_" class="st0">
        </g>
        <g xmlns="http://www.w3.org/2000/svg" id="Shape_14_copy_1_" class="st0">
            <g id="Shape_14_copy">
                <g>
                    <path class="st6" d="M398.3,314.7c-4.6-3.2-7.3-1.1-7.3-1.1c-2,5.5,2.2,11.4,3.6,13c1.4,1.6,1.1,4.7,1.1,4.7     c0.2,1.9,4.4,0.3,4.4,0.3C401.8,318.4,398.3,314.7,398.3,314.7z"/>
                </g>
            </g>
        </g>
        <g xmlns="http://www.w3.org/2000/svg" id="Shape_15__x2B__Shape_17_2_" class="st0">
            <defs>
                <path id="SVGID_1_" class="st0" d="M401.8,331.2c-1.7-2.6-6.7-0.5-6.7-0.5c0.4,25.1-10.1,28-14.9,21.1    c-4.8-6.9-13.7-14.9-13.7-14.9c0.1,2.6,9.6,26.9,9.6,26.9C408.5,382.7,401.8,331.2,401.8,331.2z"/>
            </defs>
            <clipPath id="SVGID_2_">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#SVGID_1_" style="overflow:visible;"/>
            </clipPath>
            <g style="clip-path:url(#SVGID_2_);">
                
                    <image xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow:visible;" width="150" height="160" id="Shape_15__x2B__Shape_17_xA0_Image" xlink:href="3D0BF37CBF293309.png" transform="matrix(0.24 0 0 0.24 366.48 329.76)">
                </image>
            </g>
        </g>
        <g xmlns="http://www.w3.org/2000/svg" id="Shape_12_1_" class="st0">
            <g id="Shape_12">
                <g>
                    <path class="st1" d="M360.1,334l-6.8-1.3c0,0-12.7,2.1-12.9,8.8s1.4,38.3-0.3,42.1c19.8,13.7,39.6,6,39.6,6     S382.8,339.9,360.1,334z"/>
                </g>
            </g>
        </g>
        <g xmlns="http://www.w3.org/2000/svg" id="Shape_10_1_" class="st0">
            <g id="Shape_10">
                <g>
                    <path class="st6" d="M352.8,317.9l0,14.9c0,0,0,0,0,0c0,0,0,0,0,0.1c0,0,2.7,5,9.6,7.2c0,0,0.7-3.2-0.7-5.5     c-0.5-6,0.3-9.2,0.3-9.2c13.7,10.4,15.7-20.4,15.7-20.4C373.3,291.9,352.8,317.9,352.8,317.9z"/>
                </g>
            </g>
        </g>
        <g xmlns="http://www.w3.org/2000/svg" id="Shape_13_1_" class="st0">
            <g id="Shape_13">
                <g>
                    <path class="st7" d="M403.3,308.4l-27.9,1.7c0,0-2.8,2.7,0,7l28.7,2.1C404.1,319.2,409,312,403.3,308.4z"/>
                </g>
            </g>
        </g>
        <g xmlns="http://www.w3.org/2000/svg" id="Shape_13_copy_1_" class="st0">
            <g id="Shape_13_copy">
                <g>
                    <path class="st8" d="M400.5,310.1l-27.9,1.7c0,0-2.8,2.7,0,7l28.7,2.1C401.2,320.9,406.2,313.7,400.5,310.1z"/>
                </g>
            </g>
        </g>
        <g xmlns="http://www.w3.org/2000/svg" id="Shape_14_1_" class="st0">
            <g id="Shape_14">
                <g>
                    <path class="st6" d="M390.3,314.7c-4.6-3.2-7.3-1.1-7.3-1.1c-2,5.5,2.2,11.4,3.6,13c1.4,1.6,1.1,4.7,1.1,4.7     c0.2,1.9,4.4,0.3,4.4,0.3C393.8,318.4,390.3,314.7,390.3,314.7z"/>
                </g>
            </g>
        </g>
        <g xmlns="http://www.w3.org/2000/svg" id="Shape_11_1_" class="st0">
            <g id="Shape_11">
                <g>
                    <path class="st9" d="M394,330.7c-2.4-1.6-6.7,0-6.7,0s-0.5,4.6-1.2,18.1c-0.7,13.5-15.1,14.1-19.5,11.5     c-4.5-2.6-6.7-8.8-10.1-16.7c-3.4-8-10.3-8.2-10.3-8.2c-7.8,0.7-8.1,11.7,1.7,25.8c9.8,14.1,29.5,11,29.5,11     C404.4,370.3,394,330.7,394,330.7z"/>
                </g>
            </g>
        </g>
        <g xmlns="http://www.w3.org/2000/svg" id="Shape_9_1_" class="st0">
            <g id="Shape_9">
                <g>
                    <path class="st7" d="M384.5,292.9c-0.8-1.6-2.9-5.8-19.7-1.3c0,0-10.4,1.3-10.2,10.1c0,0-10.2,3.1-2,18.9c0,0,1.1,0.4,4-4.8     c2.9-5.2,10.2-3.6,12.2-9.4C368.9,306.4,387.1,302.3,384.5,292.9z"/>
                </g>
            </g>
        </g>
        <g xmlns="http://www.w3.org/2000/svg" id="Ellipse_3_copy_2_1_" class="st0">
            <g id="Ellipse_3_copy_2">
                <g>
                    <path class="st7" d="M403.7,308.4c-1.3,0-2.4,2.4-2.4,5.4c0,3,1.1,5.4,2.4,5.4c1.3,0,2.4-2.4,2.4-5.4     C406.1,310.8,405,308.4,403.7,308.4z"/>
                </g>
            </g>
        </g>
        <g xmlns="http://www.w3.org/2000/svg" id="Ellipse_3_copy_3_1_" class="st0">
            <g id="Ellipse_3_copy_3">
                <g>
                    <ellipse class="st10" cx="403.9" cy="313.9" rx="1.7" ry="4.6"/>
                </g>
            </g>
        </g>
        <g xmlns="http://www.w3.org/2000/svg" id="Ellipse_3_1_" class="st0">
            <g id="Ellipse_3">
                <g>
                    <ellipse class="st7" cx="400.6" cy="315.5" rx="2.4" ry="5.4"/>
                </g>
            </g>
        </g>
        <g xmlns="http://www.w3.org/2000/svg" id="Ellipse_3_copy_1_" class="st0">
            <g id="Ellipse_3_copy">
                <g>
                    <path class="st10" d="M400.8,311c-0.9,0-1.7,2-1.7,4.6c0,2.5,0.8,4.6,1.7,4.6c0.9,0,1.7-2,1.7-4.6     C402.5,313.1,401.7,311,400.8,311z"/>
                </g>
            </g>
        </g>
        <g xmlns="http://www.w3.org/2000/svg" id="_x34__1_">
            <g>
                <path class="st5" d="M302,353.8v18.5h-10.8v19.5h-19.7v-19.5h-45.5V366l44.4-66.6h20.8v54.4H302z M271.3,327.5l-16.5,26.3h16.7    v-26.3H271.3z"/>
            </g>
        </g>
        <g xmlns="http://www.w3.org/2000/svg" id="_x34_">
            <g>
                <path class="st5" d="M493.8,353.8v18.5h-10.8v19.5h-19.7v-19.5h-45.5V366l44.4-66.6h20.8v54.4H493.8z M463.1,327.5l-16.5,26.3    h16.7v-26.3H463.1z"/>
            </g>
        </g>
        <g xmlns="http://www.w3.org/2000/svg" id="Ellipse_2_1_" class="st0">
            <g id="Ellipse_2">
                <g>
                    <path class="st4" d="M223.6,237.6c-2.4,0-4.4,1.8-4.4,4.1s2,4.1,4.4,4.1s4.4-1.8,4.4-4.1S226,237.6,223.6,237.6z M238.3,237.6     c-2.4,0-4.4,1.8-4.4,4.1s2,4.1,4.4,4.1s4.4-1.8,4.4-4.1S240.8,237.6,238.3,237.6z M253.1,237.6c-2.4,0-4.4,1.8-4.4,4.1     s2,4.1,4.4,4.1s4.4-1.8,4.4-4.1S255.6,237.6,253.1,237.6z M494.2,237.6H276.6c-2.3,0-4.1,1.8-4.1,4.1s1.8,4.1,4.1,4.1h217.6     c2.3,0,4.1-1.8,4.1-4.1S496.4,237.6,494.2,237.6z"/>
                </g>
            </g>
        </g>
        <g xmlns="http://www.w3.org/2000/svg" id="page_not_found">
            <rect x="239.5" y="421.4" class="st11" width="241.2" height="21.4"/>
            <text transform="matrix(1 0 0 1 287.7646 431.6836)" class="st5 st12 st13 st14">page not found</text>
        </g>
    </svg>
</div>