<div class="card" *ngIf="bindingfeed">
    <div class="card-header">
      <img src="{{bindingfeed.imgSrc}}" alt="{{bindingfeed.title}}">
      <h3  *ngIf="!editmode" class="title">{{bindingfeed.title}}</h3>
      <input *ngIf="editmode" type="text" class="input-text" [(ngModel)]="bindingfeed.title" (ngModelChange)="bindingfeed.title = $event">
    </div>

    <p *ngIf="!editmode" class="card-body"> {{bindingfeed.description}} </p>
    <textarea class="text-area" *ngIf="editmode" name="new-card-body" id="new-card-body" rows="10" [(ngModel)]="bindingfeed.description" (ngModelChange)="bindingfeed.description = $event"></textarea>
    <br>
    <div class="card-footer">
      <span class="publisher">{{bindingfeed.publisher}}</span>
      <button type="button" class="btn btn-danger" (click)="delete()">Borrar</button>
      <button *ngIf="editmode" type="button" class="btn" (click)="update()">Guardar</button>
      <button *ngIf="!editmode"  type="button" class="btn" (click)="editmode = true">Editar</button>
    </div>
  </div>