@import '../../../theme/fonts.scss',
'../../../theme/colors.scss',
'../../../theme/shadows.scss',
'../../../theme/forms.scss';

.card, .card-header, .card-header img, .card-body, .card-footer{
    display: block;
}

.card-header, .card-body, .card-footer{
    margin-bottom: 10px;
}

.card{
    z-index: 1;
    max-width: 800px;
    margin: auto;

    .card-header{
        img{
            width: 100%;
        }
        h3{
            margin-top: 10px;
            font-family: $header-font;
            color: $header-text;
        }
    }

    .card-body, .card-footer {
        text-align: justify;
        font-family: $body-font;
        color: $body-text;
    }

    .btn{
        float: right;
        margin-top: -13px;
        min-height: 33px;
        margin-right: 10px;
    }
}

textarea{
    display: block;
    margin: auto;
    width: 90%;
    margin-bottom: 30px;
    min-width: 300px !important;
}

.input-text{
    display: block;
    margin: auto;
    width: 90%;
    margin-top: 40px;
}

@media only screen and (max-width: 850px) {
    .card-header, .card-body, .card-footer{
        margin-bottom: none;
    }

    .card-body, .card-footer, .card-header h3{
        padding: 10px;
    }

    .card {
        max-width: none;
        width: 95%;
        border-radius: 6px;
        -webkit-box-shadow: $card-shadow;
        -moz-box-shadow: $card-shadow;
        box-shadow: $card-shadow;
        img{
            border-radius: 6px 6px 0px 0px;
        }
    }
}