<div class="nav-container">
    <app-navbar></app-navbar>
</div>
<div class="app-container">
    <app-toast *ngIf="error"></app-toast>
    <app-loading  *ngIf="loading" [loadingText]="'Cargando noticias..-'"></app-loading>
    <router-outlet></router-outlet>
</div>