<div class="card">
    <div class="card-header">
      <img src="{{imgSrc}}" alt="{{title}}">
      <h3 class="title">{{title}}</h3>
    </div>

    <p class="card-body"> {{description | truncateText:[200]}} </p>
    <br>
    <div class="card-footer">
      <span class="publisher">{{publisher}}</span>
      <button type="button" class="btn" (click)="detaill()">Ver noticia</button>
    </div>
  </div>