<br>
<div class="card">
    <div class="card-header">
        <h3>Crear una nueva noticia</h3>
        <input type="text" class="input-text" [(ngModel)]="bindingfeed.imgSrc"
            (ngModelChange)="bindingfeed.imgSrc = $event" placeholder="Imagen URL">
        <input type="text" class="input-text" [(ngModel)]="bindingfeed.title"
            (ngModelChange)="bindingfeed.title = $event" placeholder="Titlulo">
    </div>

    <textarea placeholder="Cuerpo de la noticia" class="text-area" name="new-card-body" id="new-card-body" rows="10" [(ngModel)]="bindingfeed.description"
        (ngModelChange)="bindingfeed.description = $event"></textarea>
    <div class="card-footer">
        <button type="button" class="btn" (click)="create()">Guardar</button>
    </div>
</div>