@import '../../../theme/fonts.scss',
'../../../theme/colors.scss',
'../../../theme/forms.scss';

.separator{
    height: 1px;
    background-color: $terciary;
}

.btn{
    display: block;
    float: right;
}

.header, .separator{
    display: block;
    width: 90%;
    margin: auto;
}

.header{
    margin-top: 100px;
    height: 40px;
}

.containerList{
    margin-top: 50px;
}