<div class="header">
  <button type="button" class="btn" (click)="goToNewFeed()">Nueva noticia</button>
</div>
<span class="separator"></span>
<div *ngIf="app.feeds && app.feeds.length" class="containerList">
    <ng-template ngFor let-feed [ngForOf]="app.feeds" let-i="index">
      <app-news-item
       [title]="feed.title"
       [imgSrc]="feed.image"
       [description]="feed.body"
       [publisher]="feed.publisher"
       [source]="feed.source"
       [_id]="feed._id"
       ></app-news-item >
       <br>
    </ng-template>
</div>