<div class="toast">
    <div class="toast-info toast-info--error">
        <div class="toast-info__title">{{app.error.title}}</div>
        <div class="toast-info__message">{{app.error.message}}</div>
    </div>
</div>