@import '../../../theme/fonts.scss',
'../../../theme/colors.scss',
'../../../theme/shadows.scss',
'../../../theme/icons.scss',
'../../../theme/forms.scss';

.toast-info {
    font-family: $header-font;
    box-shadow: $card-shadow;
    padding: .5em 1em;
    position: fixed;
    right:10px;
    border-radius: 3px;
    color: $primary;
    
    &.toast-info--error {
      background: $danger;
    }
  }

.toast-info__title {
margin-bottom: .1em;
}

.toast-info__message {
    font-size: .8em;
    margin: .1em;
    opacity: .75;
    flex-grow: 1;
}
